section div {
    display: flex;
}

section ul li{
    list-style: none;
    /* list-style-image:url("../images/coeur-gif-079.gif"); */
}

section ul li::before {
    content: "֍";
    padding-right: 2%;
    color: lightcoral;
}

section p::selection {
    background-color:lightcoral ;
}

section {
    margin:1% 4% 4% 4%;
    width: 50%;
}

section img  {
    height: auto;
    width: 80%;
}

.d1 {
    margin-top: 18%;
}

section table {
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

section header {
    text-align: center;
}

section header ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    
}

section header a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

table td,th,caption{
    border: 1px solid black;
    vertical-align: center;
    text-align: center;
}

aside div iframe {
    width: auto;
    margin: 10px;
}

aside div p {
    text-align: center;
    text-transform: uppercase;
}

aside div {
    border: solid black;
    border-radius: 10px;
}

.onglets {
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 100px;
    box-shadow: 0px 8px 16px 5px;
    z-index: 100;
    width: 10%;

}

.onglets a{
    display: block;
    text-align: center;
    width: 80%;
    padding: 16px;
    color: black;
    text-decoration: none;
}

.onglets a:hover{
    color: lightcoral;
}

.deroulement:hover .onglets{
    display: block;
}